h3
{
    font-size: 20px;
}
.btn-warning:hover
{
    background-color: rgb(10, 207, 142);
}
canvas
{
    animation-name:example;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes example
{
from {box-shadow: 1px 1px 38px rgb(243, 5, 152);}
to {box-shadow: 1px 1px 38px black;}
}
